<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>test page</div>
  <% for (var jsIndex in htmlWebpackPlugin.files.js) { %>
    <script type="text/javascript" src="<%=htmlWebpackPlugin.files.js[jsIndex] %>"></script>
  <% } %>

  <script>
    const SdkInstance = RealNamePc.Instance;
    const SdkConfig = RealNamePc.Config;
    // SdkInstance.showEight();
    SdkInstance.showRealName(true);

    SdkInstance.fetchRealName({
      appkey: '',
      qids: '3211038786',
      platform: 'h5_game',
      idcard_check_type: 'pay_before',
    })
    .then(res => console.log('res...', res))
    .catch(err => console.error('获取实名信息异常', err));

  </script>
</body>
</html>