<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>test page</div>
  <% for (var jsIndex in htmlWebpackPlugin.files.js) { %>
    <script type="text/javascript" src="<%=htmlWebpackPlugin.files.js[jsIndex] %>"></script>
  <% } %>

  <script>
    const SdkInstance = RealNamePc.Instance;
    const SdkConfig = RealNamePc.Config;
    // SdkInstance.showEight();

    function config() {
      SdkInstance.config({
        appkey: '',
        qid: '3211038786',
        platform: 'h5_game',
        idcard_check_type: 'pay_before',
        onCloseRealName: () => console.log('触发关闭实名事件'),
        onSubmitSuccess: () => console.log('触发实名认证成功事件11'),
        onSubmitError: () => console.log('触发实名认证失败事件')
      });
    }

    function showRealName(canClose) {
      SdkInstance.showRealName({ canClose: canClose });
    }

    // 配置相关参数
    config();

    // SdkInstance.fetchRealName()
    // .then(res => {
    //   console.log('res...', res);
    //   const { auth_type, status } = res;

    //   // 已开启实名
    //   if (auth_type !== '0' && status === '0') {
    //     showRealName(true);
    //   }
    // })
    // .catch(err => console.error('获取实名信息异常', err));

    SdkInstance.checkAmount({
      amount: 30,
      gkey: 'rxhjh5'
    })
    .then(res => {
      console.log('res...checkAmount', res);
      const { checkResult, handler } = res;
      console.log('handler...', handler);
      handler.exec();
    })
    .catch(err => console.error('请求checkAmount接口异常', err));

    // SdkInstance.test()

  </script>
</body>
</html>