.tip {
  box-sizing: border-box;
  position: relative;
  width: 660px;
  height: 300px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  color: #000;

  &__title {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  &__content {
    margin-top: 50px;
    font-size: 20px;
    text-align: left;
  }

  &__close {
    position: absolute;
    cursor: pointer;
    top: 4px;
    right: -47px;
    width: 27px;
    height: 27px;
    background: url('https://p2.ssl.qhimg.com/t0179abee0d1b9be50a.png') center center no-repeat;
    background-size: contain;
  }
}